*{
    
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  padding: 20px 5%;
  position: static;
  
}

.nav-list{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 20px;
padding-left: 10%;
padding-right: 10%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

a{
    font-weight: bold;
    color: black;
}

nav ul li a:hover{
    color:aliceblue
}

.profile2{
    margin-left: 300px;
}

.footer-section{
    left:0;
    bottom: 0;
    width: 100%;
    position:fixed
}

.socials{
align-items: center;
}