*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  padding: 20px 5%;
  
}

.nav-list{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 20px;
padding-left: 10%;
padding-right: 10%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

a{
    color: black;
}

